@page
@using exercise.wwwapp.Helpers
@using exercise.wwwapp.Models.Entities
@model IndexModel
@inject IBooleanHelper booleanhelper

@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
<div class="text-center">
    <h1 class="display-8">Boolean Products</h1>    
</div>
<h3>Products</h3>
<hr />
<table class="table table-striped" style="width:40%">
    <tr>
    <th>Id</th>
    <th>Product</th>    
    <th></th>
    <th>+</th>
    <th>Stock</th>
    <th>-</th>
    <th></th>
    <th>Delete</th>
    </tr>

    @foreach (Product item in Model.Products.OrderBy(x => x.Id))
    {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                   
                    <td></td>
                    
                    <td>
                    <a href="/api/boolean/increment/@item.Id"><i class="bi bi-arrow-up-short"></i></a>
                    </td>
                    <td>
                        <span>@booleanhelper.GetStockValueFromProductId(@item.Id)</span>
                    </td>
                    <td>
                        <a href="/api/boolean/decrement/@item.Id"><i class="bi bi-arrow-down-short"></i></a>
                    </td>
                    <td></td>
                    <td>
                        <a href="/api/boolean/@item.Id" onclick="return confirm('Are you sure?')"><i class="bi bi-trash3"></i></a>
                    </td>

                    
                </tr>
    }
           
        </table>

    </div>
