@page
@model exercise.wwwapp.Pages.WishlistModel
<style>
    .wishbtn{margin-top:24px;}

    .teacherddl, .productddl{margin-bottom:22px;}
</style>
<form id="form1" method="post" action="api/boolean/addwish"
      enctype="application/x-www-form-urlencoded" class="form-horizontal col-md-4">

<div class="row justify-content-center">
    <div class="text-center">
        <h1 class="display-8">Products</h1>
    </div>
    <h3>Add Product</h3>
    <hr />
    <p>Add a product to a teachers christmas wishlist..</p>
    <div class="teacherddl">

        <label for="TeacherSelect">Select Teacher</label>
        <select name="TeacherSelect" id="TeacherSelect">
    @foreach (var item in Model.Teachers)
    {

        <option value="@item.Id" id="teacherId">
            @item.Name
        </option>
    }

</select>
    </div>
<div class="productddl">

        <label for="ProductSelect">Select Product</label>
        <select name="ProductSelect" id="ProductSelect">
    @foreach (var item in Model.Products)
    {

        <option value="@item.Id" id="productId">
            @item.Name
        </option>
    }
        </select>     
</div>
        <input type="submit" class="btn btn-success wishbtn" value="Add to Wishlist" />
    </div>
</form>

@{
}
